nav{
    
    margin: 0 auto 40px auto;
    box-shadow: 0 0 28px rgba(0,0,0,.07);

}
.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-container ul{
    
       margin:20px;
       list-style-type: none;
       padding: 0;
}   
.nav-container li{
    list-style-type: none;
    margin-right:50px;
}
.admin.nav{
    margin-right: 0;
}
.nav-container ul, .login-nav, .nav-container a{
display:flex;
justify-content: space-between;
}
.login-nav a{
    text-decoration: none;
    color: #000;
    list-style-type: none;
}
.nav-container li, .nav-container a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


.login-nav.nav-un li a {
    margin-right: 0px;
}