nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}
ul{
    
       margin-top:20px !important;
       list-style-type: none;

}
 li{
    list-style-type: none;
}
ul, .login-nav, a{
display:flex;
justify-content: space-between;
}
.login-nav a{
    text-decoration: none;
    color: #000;
    list-style-type: none;
}
 li, a{
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.separateur-menu{
    border-bottom: 1px solid #e5e5e5;
}

.login-nav.nav-un li a {
    margin-right: 0px;
}