<div class="banniere">
	<img src="{{ asset('../assets/images/road.jpg')}}" alt="banniere 1">
	<div class="infos-banniere">
		<h3>TEMPLATE</h3>
		<p>Template pour site web</p>
		<a href="#">Read more</a>
	</div>
</div>
