<div class="banniere">
	<div id="container">
		<div class="slider"><!-- ajout des images --></div>

		<div class="cont-btn">
			<i class="btn-nav left fa-solid fa-circle-arrow-left"></i>
			<i class="btn-nav right fa-solid fa-solid fa-circle-arrow-right"></i>
		</div>
	</div>
	<div class="infos-banniere">

		<h3><!-- TITRE --></h3>
		<p><!-- description --></p>

	</div>
</div>
