<nav>
	<ul>
		<li>ACCUEIL</li>
		<li>DESTINATIONS</li>
		<li>CONSEIL & ASTUCES</li>
		<li>À PROPOS</li>

	</ul>
	<div class="choose-country">
		<li>FR</li>
		<li>EN</li>
		<li>ES</li>
	</div>
</nav>
<div class="separateur-menu"></div>
