<nav>
	<ul>
		<li>ACCUEIL</li>
		<li>DESTINATIONS</li>
		<li>CONSEIL & ASTUCES</li>
		<li>À PROPOS</li>

	</ul>

	{% if app.user %}
		<div class="choose-country">
			<li>
				<a href="{{path('app_logout')}}">Deconnexion</a>
			</li>
		{% else %}
			<li>
				<a href="{{path('app_inscription')}}">Inscription</a>
			</li>

			<li>
				<a href="{{path('app_login')}}">Connexion</a>
			</li>
		</div>
	{% endif %}
</li></div></nav><div class="separateur-menu"></div>
