<nav>
	<ul>
		<li>ACCUEIL</li>
		<li>DESTINATIONS</li>
		<li>CONSEIL & ASTUCES</li>
		<li>À PROPOS</li>

	</ul>

	{% if app.user %}
		<div class="login-nav">
			<li>
				<a href="{{path('app_logout')}}">Deconnexion</a>
			</li>

		</div>
	{% else %}
		<div class="login-nav">
			<li>
				<a href="{{path('app_inscription')}}">Inscription</a>
			</li>

			<li>
				<a href="{{path('app_login')}}">Connexion</a>
			</li>
		</div>
	{% endif %}
	{% if app.user is not null and  'ROLE_ADMIN' in app.user.roles %}
		<div class="login-nav">
			<li>
				<a href="{{path('app_users')}}">Admin</a>
			</li>
		</div>
	{% endif %}
</nav>
<div class="separateur-menu"></div>
