nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
ul{
    
       margin-top:20px !important;
       list-style-type: none;

}
 li{
    list-style-type: none;
}
ul, .login-nav, a{
display:flex;
justify-content: space-between;


}
.login-nav a{
    text-decoration: none;
    color: #000;
    list-style-type: none;
}
 li, a{
    margin-right: 20px;
    font-family: 'lora', sans-serif;
}
.separateur-menu{
    border-bottom: 1px solid #e5e5e5;
}

