nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
ul{
    
       margin-top:20px !important;
    
}
ul, .choose-country, a{
display:flex;
justify-content: space-between;

}
.choose-country a{
    text-decoration: none;
    color: #000;
}
 li, a{
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}
.separateur-menu{
    border-bottom: 1px solid #e5e5e5;
}
