<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
	<div class="sb-nav-link-icon">
		<i class="fas fa-columns"></i>
	</div>
	Posts
	<div class="sb-sidenav-collapse-arrow">
		<i class="fas fa-angle-down"></i>
	</div>
</a>
<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
	<nav class="sb-sidenav-menu-nested nav">
		<a class="nav-link" href="{{path('app_posts_index')}}">Voir les posts</a>
		<a class="nav-link" href="{{path('app_posts_new')}}">Ajouter un post</a>


	</nav>
</div>
