<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBanners" aria-expanded="false" aria-controls="collapseBanners">
	<div class="sb-nav-link-icon">
		<i class="fas fa-columns"></i>
	</div>
	Bannières
	<div class="sb-sidenav-collapse-arrow">
		<i class="fas fa-angle-down"></i>
	</div>
</a>
<div class="collapse" id="collapseBanners" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
	<nav class="sb-sidenav-menu-nested nav">
		<a class="nav-link" href="{{path('app_slider_index')}}">Voir les bannières</a>
		<a class="nav-link" href="{{path('app_slider_new')}}">Ajouter une banniere</a>
	</nav>
</div>
