{% extends "base.html.twig" %}
{% block body %}
	{% include "includes/nav.html.twig" %}
	{% include "includes/header.html.twig" %}
	{% include "includes/banniere.html.twig" %}
	<section>
		{% include "includes/about-me.html.twig" %}
	</section>
{% endblock %}
